<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>711597520834-km9tmifh0a6n6d34qjvbrl2bocmd8amf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711597520834-km9tmifh0a6n6d34qjvbrl2bocmd8amf</string>
	<key>API_KEY</key>
	<string>AIzaSyDc5hj5v1710hJ6BdEbPknliS0WZHjS48g</string>
	<key>GCM_SENDER_ID</key>
	<string>711597520834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JHM.GamePicker</string>
	<key>PROJECT_ID</key>
	<string>gamepicker-fca8f</string>
	<key>STORAGE_BUCKET</key>
	<string>gamepicker-fca8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711597520834:ios:8fe445099b48efa8</string>
	<key>DATABASE_URL</key>
	<string>https://gamepicker-fca8f.firebaseio.com</string>
</dict>
</plist>